<div class="category">
    <div class="container">
        <div class="category__title">Топ-30 категорій з найменшою конкуренцією</div>
        <div class="category__choose">
            <div class="choose__1 choose__common"><a href="#" class="all__link">Сталь</a></div>
            <div class="choose__2 choose__common"><a href="#" class="all__link">Одяг та взуття</a></div>
            <div class="choose__3 choose__common"><a href="#" class="all__link">Мука</a></div>
            <div class="choose__4 choose__common"><a href="#" class="all__link">Полімерні вироби</a></div>
            <div class="choose__5 choose__common"><a href="#" class="all__link">Більше>></a></div>
        </div>
    </div>
</div>
