<div class="footer">
    <div class="container">
        <div class="category__title">Топ-30 категорій з найменшою конкуренцією</div>
        <div class="category__choose">
            <div class="choose__1 choose__common">Сталь</div>
            <div class="choose__2 choose__common">Одяг та взуття</div>
            <div class="choose__3 choose__common">Мука</div>
            <div class="choose__4 choose__common">Полімерні вироби</div>
            <div class="choose__5 choose__common">Більше>></div>
        </div>
    </div>
</div>
