<div class="footer">
    <div class="container">
        <h3 class="footer__title">TRADECORE</h3>
        <div class="footer--flex">
            <div class="footer__contacts">
                <div class="contacts__item contacts__tov">ТОВ «ТРЕЙДКОР» ©
                    <p>2016-2017</p>
                </div>
                <div class="contacts__item contacts__phone">Електроний майданчик TRADECORE
                    <p>+38 (044) 232-99-99</p>
                </div>
                <div class="contacts__item contacts__address">вул. Крутий Узвіз, буд. 6/2ам. Київ, 01004</div>
            </div>
            <ul class="footer__nav footer__nav--1">
                <li class="footer__item footer__item--1"><a href="#" class="footer__link--1">Додаткові сервіси</a></li>
                <li class="footer__item footer__item--2"><a href="#" class="footer__link--2">Підтримка</a></li>
                <li class="footer__item footer__item--3"><a href="#" class="footer__link--3">Навчання</a></li>
                <li class="footer__item footer__item--4"><a href="#" class="footer__link--4">Банківські реквізити</a></li>
                <li class="footer__item footer__item--5"><a href="#" class="footer__link--5">Контакти</a></li>
            </ul>
            <ul class="footer__nav footer__nav--2">
                <li class="footer__item footer__item--1"><a href="#" class="footer__link--1">Кар’єра</a></li>
                <li class="footer__item footer__item--2"><a href="#" class="footer__link--2">Договір-оферта</a></li>
                <li class="footer__item footer__item--3"><a href="#" class="footer__link--3">Стати партнером</a></li>
                <li class="footer__item footer__item--4"><a href="#" class="footer__link--4">Законодавчі акти</a></li>
                <li class="footer__item footer__item--5"><a href="#" class="footer__link--5">Прес-центр</a></li>
            </ul>
        </div>
        <div class="footer__socials">
            <div class="footer__social--fb social"><a href="" class="social__link"></a></div>
            <div class="footer__social--youtube social"><a href="" class="social__link"></a></div>
            <div class="footer__social--linkedin social"><a href="" class="social__link"></a></div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="copyright__text">
                <div class="copyright__text--first"> © 2017 TradeCore.com.ua</div>
                <div class="copyright__text--second">Аккредитований учасник електроної системи публічних закупівель України ProZorro</div>
            </div>
            <div class="copyright__up"></div>
        </div>
    </div>
</div>