<div class="header">
    <div class="container">
        <div class="inner--flex header--flex ">
            <div class="header__lang">
                <div class="lang__flag"></div>
                <div class="lang__language">Українська</div>
                <div class="lang__choose"></div>
            </div>
            <div class="header__cont">
                <div class="header__phone">+38(099) 123 45 68</div>
            <div class="header__email">support@tradecore.com</div>
            </div>
            <div class="header__buttons">
                <div class="header__buttons--enter">Вхід</div>
                <div class="header__buttons--reg">Реєстрація</div>
            </div>
        </div>
    </div>
</div>
<div class="navbar">
    <div class="container">
        <div class="inner--flex flex__forsm">
            <div class="header__logo--text">TRADECORE</div>
            <ul class="header__nav">
                <li class="nav__item"><a href="#" class="nav__link">Закупівлі</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Додаткові сервіси</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Підтримка</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Навчання</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Регламент</a></li>
            </ul>
        </div>
    </div>

</div>