<div class="page_contacts">
    <div class="container">
        <h1 class="page_contacts--title">Контакти</h1>
        <div class="page_contacts--contacts">
            <div class="contacts__item">З задоволенням дамо відповідь на всі ваші запитання в робочі дні з 8:00 до 19:00</div>
            <div class="contacts__item"><a href="tel:0800500015">0 800 500 015</a> безкоштовно з питань державних замовників</div>
            <div class="contacts__item"><a href="tel:0800500016">0 800 500 016</a> безкоштовно з питань постачальників</div>
            <div class="contacts__item"><a href="mailto:support@tradecore.com">support@tradecore.com</a></div>
        </div>
        <h1 class="page_contacts--title">Нашi реквiзити</h1>
        <div class="page_contacts--contacts">
            <div class="contacts__item">ТОВ «ТРЕЙДКОР» ©</div>
            <div class="contacts__item">02121, Київ, Харківське шосе, 201/203, корпус 2-А, літ. «Ф», оф. 114</div>
            <div class="contacts__item">Код ЄДРПОУ 40283641</div>
            <div class="contacts__item">ІПН 402836426512</div>
            <div class="contacts__item">Р/р № 26008527602 в АТ "Райффайзен Банк АВАЛЬ", МФО 380805</div>
        </div>
    </div>
</div>