<div class="page_order">
    <div class="container">
        <h1 class="page_contacts--title">Порядок здійснення допорогових закупівель</h1>
        <h3 class="page_services--subtitle">1. Загальні положення</h1>
            <p class="page_order--text">
                1.1. Цей Порядок розроблено на підставі абзацу 4 частини 1 статті 2 Закону України “Про публічні закупівлі” (далі – Закон)
                та абзацу 21 пункту 12 Порядку функціонування електронної системи закупівель та проведення авторизації електронних
                майданчиків, затвердженого Постановою Кабінету Міністрів України від 24.02.2016 № 166 (далі – Порядок функціонування
                Системи). Порядок здійснення допорогових закупівель (далі – Порядок) застосовується у разі проведення замовником
                відбору постачальника товару (товарів), надавача послуги (послуг) та виконавця робіт із використанням електронної
                системи закупівель (далі – Системи) під час здійснення закупівель товарів, робіт і послуг, вартість яких
                є меншою за вартість, що встановлена в абзацах 2 та 3 частини 1 статті 2 Закону. Умови цього Порядку мають
                бути враховані Операторами при затвердженні власних регламентів. <br>
                1.2. У цьому Порядку наведені нижче терміни
                вживаються у такому значенні: допорогова закупівля (далі – Закупівля) – закупівля замовником тов
            </p>
    </div>
</div>