<div class="page_tariff">
    <div class="container">
        <h1 class="page_contacts--title">Тарифи</h1>
        <div class="tariff__table">
            <div class="for-customer">
                <div class="tariff__table--header">Для замовників</div>
                <div class="for-customer__tariff">
                    <span>Безкоштовно</span>
                </div>
            </div>
            <div class="for-provider">
                <div class="tariff__table--header">Для постачальників</div>
                <div class="for-provider__tariff">
                    <div class="for-provider__tariff--1">
                        <div class="for-provider__tariff--header">Бюджет закупівлі</div>
                        <div class="for-provider__tariff--item">до 20 000 грн</div>
                        <div class="for-provider__tariff--item">20 000-50 000 грн</div>
                        <div class="for-provider__tariff--item">50 000- 200 000 грн</div>
                        <div class="for-provider__tariff--item">20 000-1 000 000 грн</div>
                        <div class="for-provider__tariff--item">від 1 000 000 грн</div>
                    </div>
                    <div class="for-provider__tariff--2">
                        <div class="for-provider__tariff--header">Вартість подачі пропозиції з ПДВ</div>
                        <div class="for-provider__tariff--item">17 грн</div>
                        <div class="for-provider__tariff--item">119 грн</div>
                        <div class="for-provider__tariff--item">340 грн</div>
                        <div class="for-provider__tariff--item">510 грн</div>
                        <div class="for-provider__tariff--item">1700 грн</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tariff__from">* тарифи встановлено згідно п.4 Постанови КМУ від 24 лютого 2016р. №166</div>
    </div>
</div>