<div class="page_studies">
    <div class="container">
        <h1 class="page_services--title">Навчання</h1>
        <h3 class="page_services--subtitle">Графік проведення онлайн вебінарів</h1>
            <div class="seminar__block">
                <div class="seminar__card">
                    <div class="seminar__card--head">20 вересня, 16.00</div>
                    <div class="seminar__card--title">Безкоштовний практичний вебінар: “Як перейти на електронний документообіг”</div>
                    <div class="seminar__card--text">Запрошуємо 20 вересня о 16:00 на вебінар про електронний документообіг, який проведе керівник команди
                        розробки онлайн сервісу обміну документами. Після хакерських атак власники бізнесу серйозно замислились
                        про захист власних документів і безпеку їхнього зберігання. А також про те, що саме хмарні сервіси
                        на відміну від програмних можуть це забезпечити.</div>
                </div>
                <div class="seminar__card">
                    <div class="seminar__card--head">29 вересня, 16.00</div>
                    <div class="seminar__card--title">Безкоштовний практичний вебінар: “Як перейти на електронний документообіг”</div>
                    <div class="seminar__card--text">Запрошуємо 20 вересня о 16:00 на вебінар про електронний документообіг, який проведе керівник команди
                        розробки онлайн сервісу обміну документами. Після хакерських атак власники бізнесу серйозно замислились
                        про захист власних документів і безпеку їхнього зберігання. А також про те, що саме хмарні сервіси
                        на відміну від програмних можуть це забезпечити.</div>
                </div>
            </div>
    </div>
</div>