<div class="page_procurement">
    <div class="container">
        <h1 class="page_contacts--title">Всi закупiвлi</h1>
        <div class="main__inputfield">
            <input type="text" class="inputfield__input" placeholder="Назва компанії (категорії товару)">
            <div class="inputfield__btn"><a href="#" class="search__btn all__link">Пошук</a></div>
        </div>
        <div class="filter__block">
            <div class="filter__block--common filter__block--block1">
                <div class="input__wrapper">
                    <select name="status" class="select__input">
                        <option value="">Статус закупівлі</option>
                    </select>
                </div>
                <div class="dropdown__checkblock">
                    <input type="checkbox" id="canceled" class="check-box">
                    <label for="canceled">Скасована</label>
                </div>
                <div class="dropdown__checkblock">
                    <input type="checkbox" id="acceptance" class="check-box">
                    <label for="acceptance">Прийом пропозицій</label>
                </div>
            </div>
            <div class="filter__block--common filter__block--block2">
                <div class="input__wrapper">
                    <select name="region" class="select__input">
                        <option value="">Регiон</option>
                    </select>
                </div>
                <div class="input__wrapper">
                    <input type="text" class="dropdown__input dropdown__input--2" placeholder="Назва регіону" name="city">
                </div>
                <div class="dropdown__checkblock">
                    <input type="checkbox" id="acceptance" class="check-box">
                    <label for="acceptance">Київська</label>
                </div>
            </div>
            <div class="filter__block--common filter__block--block3">
                <div class="dropdown__button dropdown__button--1"><a href="#" class="all__link">Фільтри</a></div>
            </div>
        </div>


        <div id="procurements__block">

            <!-- procurements here -->


            <div class="procurements__card">
                <div class="procurement__block procurement__block--1">
                    <div class="procurement__id">UA-2017-12-22-0998-d</div>
                    <div class="procurement__company">Комунальне підприємство “Київпастранс”</div>
                    <div class="procurement__status" data-status="success">Відмінена закупівля</div>
                </div>
                <div class="procurement__block procurement__block--2">
                    <div class="procurement__type">Відкриті торги/ Проверка сообщения со скаргой</div>
                    <div class="procurement__name">Послуги з управління зв’язками з громадскістю 2199568683</div>
                </div>
                <div class="procurement__block procurement__block--3">
                    <div class="procurement__price">100 000 USD</div>
                    <div class="procurement__subprice">38 000 USD</div>
                    <div class="procurement__date">14.03.17-16.05.2017, 16:09</div>
                    <div class="procurement__button">
                        <div class="procurement__button--star"></div>
                        <div class="procurement__button--text">До обраного</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="procurements__breadcrumbs">
            <div class="breadcrumb breadcrumb--1">1</div>
            <div class="breadcrumb breadcrumb--2">2</div>
            <div class="breadcrumb breadcrumb--3">3</div>
            <div class="breadcrumb--4">. . .</div>
            <div class="breadcrumb breadcrumb--5">500</div>
            <div class="breadcrumb breadcrumb--6"><span class="arrow--right"></span></div>
        </div>
    </div>
</div>