<div class="page_services">
    <div class="container">
        <h1 class="page_services--title">Додатковi сервiси</h1>
        <h3 class="page_services--subtitle">В системi розробленi наступнi сервiси:</h1>
            <div class="icons__block">
                <div class="icons__card">
                    <div class="icons__card--icon"><i class="fa fa-university fa-5x" aria-hidden="true"></i></div>
                    <div class="icons__card--text">
                        <div class="icons__card--title">Банківська гарантія</div>
                        <div class="icons__card--subtitle">Всі види банківських гарантій Для замовлення гарантії напишіть нам на пошту <a href="mailto:bankgarant@tradecore.come"
                                class="mail__to">bankgarant@tradecore.come</a></div>
                    </div>
                </div>
                <div class="icons__card">
                    <div class="icons__card--icon"><i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i></div>
                    <div class="icons__card--text">
                        <div class="icons__card--title">Навчальні семінари</div>
                        <div class="icons__card--subtitle">Дают возможность получить полную информацию о работе Системы, подробно изучить все ее функции, приобрести
                            навыки их применения на практике.</div>
                    </div>
                </div>
                <div class="icons__card">
                    <div class="icons__card--icon"><i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i></div>
                    <div class="icons__card--text">
                        <div class="icons__card--title">Моя аналітика</div>
                        <div class="icons__card--subtitle">Сервис позволяет оценить эффективность ваших закупок и найти способы сэкономить, оценить качество
                            проведенных работ. И все это в любых масштабах: от холдинга до дочерних предприятий</div>
                        <div class="icons__card--develop">В розробцi</div>
                    </div>
                </div>
                <div class="icons__card">
                    <div class="icons__card--icon"><i class="fa fa-truck fa-5x" aria-hidden="true"></i></div>
                    <div class="icons__card--text">
                        <div class="icons__card--title">Мої постачальники</div>
                        <div class="icons__card--subtitle">Позволяет группировать и фильтровать поставщиков по произвольным признакам. Делает возможной совместную
                            работу с карточками контрагентов. Упрощает выбор новых партнеров. Обеспечивает сохранность данных
                            по контрагентам</div>
                        <div class="icons__card--develop">В розробцi</div>
                    </div>
                </div>
            </div>
    </div>
</div>