<div class="procurements">
    <div class="container">
        <div class="procurements__title">Aктуалні державні закупівлі</div>
        <div class="procurements__card">
            <div class="procurement__block procurement__block--1">
                <div class="procurement__id">UA-2017-12-22-0998-d</div>
                <div class="procurement__company">Комунальне підприємство “Київпастранс”</div>
                <div class="procurement__status">Відмінена закупівля</div>
            </div>
            <div class="procurement__block procurement__block--2">
                <div class="procurement__type">Відкриті торги/ Проверка сообщения со скаргой</div>
                <div class="procurement__name">Послуги з управління зв’язками з громадскістю 2199568683</div>
            </div>
            <div class="procurement__block procurement__block--3">
                <div class="procurement__price">100 000 USD</div>
                <div class="procurement__subprice">38 000 USD</div>
                <div class="procurement__date">14.03.17-16.05.2017, 16:09</div>
                <div class="procurement__button">
                    <div class="procurement__button--star"></div>
                    <div class="procurement__button--text">До обраного</div>
                </div>
            </div>
        </div>
        <div class="procurements__card">
            <div class="procurement__block procurement__block--1">
                <div class="procurement__id">UA-2017-12-22-0998-d</div>
                <div class="procurement__company">Комунальне підприємство “Київпастранс”</div>
                <div class="procurement__status">Відмінена закупівля</div>
            </div>
            <div class="procurement__block procurement__block--2">
                <div class="procurement__type">Відкриті торги/ Проверка сообщения со скаргой</div>
                <div class="procurement__name">Послуги з управління зв’язками з громадскістю 2199568683</div>
            </div>
            <div class="procurement__block procurement__block--3">
                <div class="procurement__price">100 000 USD</div>
                <div class="procurement__subprice">38 000 USD</div>
                <div class="procurement__date">14.03.17-16.05.2017, 16:09</div>
                <div class="procurement__button">
                    <div class="procurement__button--star"></div>
                    <div class="procurement__button--text">До обраного</div>
                </div>
            </div>
        </div>
        <div class="procurements__breadcrumbs">
            <div class="breadcrumb breadcrumb--1">1</div>
            <div class="breadcrumb breadcrumb--2">2</div>
            <div class="breadcrumb breadcrumb--3">3</div>
            <div class="breadcrumb--4">. . .</div>
            <div class="breadcrumb breadcrumb--5">500</div>
            <div class="breadcrumb breadcrumb--6"><span class="arrow--right"></span></div>
        </div>
    </div>
</div>
