@import "_variables";
@import "_utils";

.filter {
    background-color: #F1F0EE;
    padding-top: 30px;
}
.main__inputfield {
    display: flex;
    @include respond-to(mobile) {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
     }
}
.inputfield__input {
    height: 64px;
    display: flex;
    background-color: #fff;
    // width: calc(100% - 144px);
    padding-left: 19px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 3px;
    border: 1px solid #9D9D9D;
    margin-right: -4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @include respond-to(tablet) {
         font-size: 16px;
         padding-right: 5px;
     }
     @include respond-to(mobile) {
        height: 44px;
        font-size: 14px;
        padding-left: 5px;
        margin-right: 0;    
     }
}
.inputfield__btn {
    width: 140px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2EB398;
    border-radius: 3px;
    color: #fff;
    @include respond-to(mobile) {
        height: 44px;
        margin-top: 10px;
        width: 100%;
        font-size: 16px;
     }
}
.inputfield__show {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    padding-bottom: 21px;
    border-bottom: 1px solid #9D9D9D;
    font-size: 18px;
    font-weight: 300;
    @include respond-to(mobile) {
        font-size: 16px;
     }
    
}
.inputfield__arrow {
    width: 9px;
    display: inline-block;
    height: 5px;
    background-position: center center;
    background-size: cover;
    background-image: url(../img/ic-arrow-up.png);
    margin-left: 9px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9D9D9D;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #9D9D9D;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9D9D9D;
}
:-moz-placeholder { /* Firefox 18- */
  color: #9D9D9D;
}

.dropdown__inputsblocks {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
     @include respond-to(mobile) {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
     }
}
.dropdown__input {
    display: flex;
    align-items: center;
    padding-left: 16px;
    width: 520px;
    height: 48px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #9D9D9D;
    margin-bottom: 20px;
    @include respond-to(tablet) {
         width: 355px;
     }
      @include respond-to(mobile) {
        width: 100%;
        height: 44px;
        margin-bottom: 15px;
     }
}
.dropdown__checkblock {
    display: flex;
    align-items: center;
    height: 48px;
    label {
        display: inline-block;
        margin-left: 20px;
    }
}
.dropdown__buttons {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #9D9D9D;
     @include respond-to(mobile) {
        flex-wrap: wrap;
     }
}
.dropdown__button {
    height: 48px;
    width: 217px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #34495E;
    background-color: #fff;
    cursor: pointer;
    @include respond-to(tablet) {
         width: 200px;
     }
}
.dropdown__button--1 {
    margin-right: 24px;
    color: #fff;
    background-color: #34495E;
     @include respond-to(mobile) {
        order: 1;
        width: 49%;
        margin-right: 2%;
     }
}
.dropdown__button--2 {
    @include respond-to(mobile) {
        order: 3;
        margin-top: 10px;
        width: 100%;
     }
}
.dropdown__button--3 {
    margin-left: auto;
    @include respond-to(mobile) {
        order: 2;
        width: 49%;
        margin-left: 0;
     }
}
.input__wrapper {
    position: relative;
}
.add--icon {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 18px;
    width: 12px;
    height: 12px;
    background-image: url(../img/ic-add-value-default.png);
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}
.choosen__bl {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 47px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: #34495E;

}